<% ext = { target: "_blank", rel: "noopener" } %>
<footer class="l-footer">
  <div class="l-container">
    <p class="l-footer__credit">
      Created by <%= link_to multicolor("Hutch"), "https://johnhutch.com", **ext %> &bull; <%= link_to multicolor("SwiftKick Web"), "https://swiftkickweb.com", **ext %>
    </p>
    <p><%= multicolor("QUARTETS") %> was built for fun and for free. It will always be free.<br />
    We will always respect your privacy and never creep on you and sell your data.<br />
    Also, we don't let AI plagiarism bots train on our puzzles. So no worries.</p>

    <ul class="l-footer__links">
      <li><%= link_to "How to play", how_to_play_path %></li>
      <li><%= link_to "Making a good quartet", making_quartets_path %></li>
      <li><%= link_to "View this project on GitHub", "https://github.com/johnhutch/quartets", **ext %></li>
      <li><%= link_to "Privacy", privacy_path %></li>
    </ul>

    <p class="l-footer__license">
      <%= link_to "Creative Commons (CC BY 4.0)", "https://creativecommons.org/licenses/by/4.0/", **ext %>
    </p>

    <p class="l-footer__disclaimer">
      <strong>Quartets</strong> is not affiliated with The New York Times or any of its subsidiaries.
    </p>
  </div>
</footer>
